.home-partner-logo-display-main-ctn{
    padding: 6vw 0;
}
.home-partner-logo-display-mini-ctn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2vw;
}

@media screen and (max-width:850px) {
    .home-partner-logo-display-mini-ctn{
        flex-wrap: wrap;
    }
}