.pricing-package-box-buy-btn-main-ctn{
    text-align: center;
    background-color: transparent;
    color: #000;
    text-transform: capitalize;
    font-size: 1.6vh;
    border: 2px solid #614EDE;
    border-radius: 1.3vh;
    width:100%;
    padding: 1.4vh 3vw;
}
.pricing-package-box-buy-btn-main-ctn:hover{
    cursor: pointer;
    background:linear-gradient(to bottom, #A54dea, #594edc);
    color: #fff;
}