.pricing-package-desc-main-ctn-name{
    font-size: 1.6vh;
    color: #625f5f;
}

@media screen and (max-width:850px){
    .pricing-package-desc-main-ctn{
        text-align:center;
    }
    .pricing-package-desc-main-ctn-name{
        font-size: 14px;
    }
}