.home-blog-box-desc-main-ctn{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 30vw;
    padding: 4vh 2vw;
    display:flex;
    place-items: end;
    line-height: 3vh;
}
.home-blog-box-desc-main-ctn-name{
    font-size: 1.1vw;
    color: #fff;
}

@media screen and (max-width: 1130px){
    .home-blog-box-desc-main-ctn-name{
        font-size: 1.7vh;
    }
}
@media screen and (max-width: 900px) {
    .home-blog-box-desc-main-ctn{
        height: 100%;
        padding: 4vh 4vw;
    }
}