.home-customer-review-text-ctn-details-name-main-ctn-name{
    text-transform:capitalize;
    font-size: 1.6vw;
}
@media screen and (max-width: 900px) {
    .home-customer-review-text-ctn-details-name-main-ctn-name{
        font-size: 26px;
    }
}