.home-customer-review-ctn-main-ctn, .home-customer-review-ctn-mini-ctn{
    width: 100%;
}
.home-customer-review-ctn-main-ctn{
    height:100%;
    background: linear-gradient(to bottom, #A54dea, #594edc);
    padding: 0 6vw;
}
.home-customer-review-ctn-mini-ctn{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:3vw;
}

@media screen and (max-width: 900px) {
    .home-customer-review-ctn-main-ctn{
        padding:0;
    }
    .home-customer-review-ctn-mini-ctn{
        flex-direction: column;
    }
}