#mobile.try-for-free-btn-main-ctn{
    display: none;
}
@media screen and (max-width:950px) and (min-height: 1000px) {
    #mobile.try-for-free-btn-main-ctn{
        display: flex;
    }
}
@media screen and (max-width: 900px) {
    #mobile.try-for-free-btn-main-ctn{
        display:flex;
    }
}