.home-about-main-ctn, .home-about-mini-ctn{
    width:100%;
}
.home-about-main-ctn, .home-about-mini-ctn, .home-about-mini-ctn-desktop-view{
    display:flex;
}
.home-about-main-ctn{
    height: 100vh;
    padding:4vh 6vw;
    justify-content: center;
    place-items: center;
}
.home-about-mini-ctn{
    flex-direction: row;
    gap:10vw;
    height: 100%;
}
.home-about-mini-ctn-desktop-view{
    width:50%;
    margin: auto 0;
    flex-direction: column;
    gap: 1vw;
}

@media screen and (max-width:950px) and (min-height: 1000px) {
    .home-about-main-ctn{
        padding-top: 4vh;
        padding-bottom: 5vh;
        height:100%;
    }
    .home-about-mini-ctn{
        display:grid;
        height: 100%;
        gap:3vh;
    }
    .home-about-mini-ctn-desktop-view{
        display:none;
    }
    .home-about-title, .home-about-desc, .try-free-btn{
        display:flex;
    }
    .home-about-title{
        grid-column: 1;
        grid-row:1;
    }
    .home-about-img{
        grid-column: 1;
        grid-row: 2;
    }
    .home-about-desc{
        grid-column: 1;
        grid-row: 3;
    }
    .try-free-btn{
        grid-column: 1;
        grid-row: 4;
    }
    .home-about-desc, .try-free-btn{
        margin:0;
    }
    .home-about-title, .home-about-desc, .try-free-btn{
        width:100%;
    }
}
@media screen and (max-width: 900px) {
    .home-about-main-ctn, .home-about-mini-ctn{
        height:100%;
    }
    .home-about-main-ctn{
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .home-about-mini-ctn{
        display:grid;
        gap:2vh;
    }
    .home-about-mini-ctn-desktop-view{
        display:none;
    }
    .home-about-title, .home-about-desc, .try-free-btn{
        display:flex;
    }
    .home-about-title{
        grid-column: 1;
        grid-row:1;
    }
    .home-about-img{
        grid-column: 1;
        grid-row: 2;
    }
    .home-about-desc{
        grid-column: 1;
        grid-row: 3;
    }
    .try-free-btn{
        grid-column: 1;
        grid-row: 4;
    }
    .home-about-desc, .try-free-btn{
        margin:0;
    }
    .home-about-title, .home-about-desc, .try-free-btn{
        width:100%;
    }
}
