.home-team-title-main-ctn{
    width:100%;
    text-align: center;
}
.home-team-title-main-ctn-name{ 
    font-size: 3.2vw;
    text-transform: uppercase;
}

@media screen and (max-width: 850px) {
    .home-team-title-main-ctn-name{
        font-size: 32px;
    }
}