.home-contact-main-ctn, .home-contact-mini-ctn{
    width:100%;
}
.home-contact-main-ctn{
    min-height:70vh;
    padding: 10vh 0;
}
.home-contact-mini-ctn{
    height: 100%;
}
@media screen and (max-width:850px){
    .home-contact-main-ctn{
        height: 100vh;
        display:flex;
        place-items: center;
    }
}