.home-contact-title-main-ctn{
    margin: 0 6vw;
}
.home-contact-title-main-ctn-name{
    font-size: 3.2vw;
    text-transform: uppercase;
}

@media screen and (max-width:950px) and (min-height: 1000px) {
    .home-contact-title-main-ctn-name{
        font-size: 2.6vh;
    }
}
@media screen and (max-width:850px) {
    .home-contact-title-main-ctn-name{
        font-size: 32px;
    }
}