.pricing-hero-main-desc-title-text-main-ctn-name{
    color:#ffffff;
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
}

@media screen and (max-width:850px) {
    .pricing-hero-main-desc-title-text-main-ctn-name{
        font-size:40px;
    }
}