.home-attribute-box-desc-main-ctn-name{
    font-size: 0.8vw;
    line-height: 2vh;
}

@media screen and (max-width:950px) and (min-height: 1000px) {
    .home-attribute-box-desc-main-ctn-name{
        font-size: 1.4vh;
    }
}
@media screen and (max-width: 850px) {
    .home-attribute-box-desc-main-ctn-name{
        font-size: 10px;
    }
}