.footer-main-ctn{
    background: linear-gradient(to bottom, #a54dea, #594edc);
    width: 100%;
    height: 50%;
    padding: 10vh 6vw 3vh;
}
.footer-mini-ctn{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}