.home-achieved-desc-top-main-ctn-name{
    color:#fff;
    font-size:2.8vw;
}
@media screen and (max-width:850px) {
    .home-achieved-desc-top-main-ctn-name{
        font-size:24px;
    }
}
@media screen and (max-width:400px) {
    .home-achieved-desc-top-main-ctn-name{
        font-size: 16px;
    }
}
