img{
  width:100%;
  height: 100%;
  list-style: none;
  outline: none;
}
.link{
  text-decoration: none;
}
.link:hover{
  cursor:pointer;
}

/* HOME-HERO AND PRICING-HERO  */
.home-hero-main-ctn, .pricing-hero-main-ctn{
    width:100%;
    height:100vh;
    background: linear-gradient(to bottom, #A54dea, #594edc);
    padding: 2vh 6vw;
}  
.home-hero-mini-ctn, .pricing-hero-mini-ctn{
    width:inherit;
    display:flex;
    flex-direction: column;
    gap:20px;
}