/* NAV-HEADER COMPONENTS  */
.nav-header-main-ctn, .nav-header-main-ctn-nav{
    display:flex;
    flex-direction: row;
}
.nav-header-main-ctn{
    width:100%;
    justify-content: space-between;
}
.nav-header-main-ctn-nav{
    gap:1.4vw;
}
.nav-menu-img-ctn,
.nav-logo-mobile-logo{
    display:none;
}
.nav-link-main-ctn,
.nav-menu-img-ctn,
.nav-logo-img-ctn{
    margin:auto 0;
}
.nav-link-main-ctn-desc{
    text-transform: capitalize;
}
.nav-menu-img-ctn{
    font-size: 26px;
    color: #594edc;
}
.nav-logo-img-ctn{
    width: 9.7vh;
}
@media screen and (max-width:850px) {
    .nav-header-main-ctn{
        background-color: #fff;
        padding: 0 4vw;
        height:8vh
    }
    .nav-link-main-ctn{
        display:none;
    }
    .mobile-nav-menu{
        display:block;
    }
}





@media screen and (max-width:1110px) and (min-width:851px) {
    .nav-logo-img-ctn{
        width:70px;
    }
}
@media screen and (max-width:850px) {
    .nav-logo-img-ctn{
        width:26px;
        height: 26px;
    }
    .nav-logo-mobile-logo{
        display: block;
    }
    .nav-logo-desktop-logo{
        display: none;
    }
}









/* NAV-TRY-FREE-BTN  */
.try-for-free-btn-main-ctn#nav-try-for-free-btn-main-ctn{
    display: block;
}
@media screen and (max-width:850px) {
    .try-for-free-btn-main-ctn#nav-try-for-free-btn-main-ctn{
        display:none;
    }
}

/* NAV-MENU-MOBILE-LIST-CTN  */
.nav-menu-mobile-list-ctn-main-ctn{
    position:absolute;
    top:10vh;
    right:0;
    padding: 0 6vw;
    background-color: transparent;
    height:80vh;
}
.nav-menu-mobile-list-ctn-main-ctn, .nav-menu-mobile-list-ctn-mini-ctn, .nav-menu-mobile-list-ctn-mini-ctn-nav-link{
    width:100%;
}
.nav-menu-mobile-list-ctn-mini-ctn, .nav-menu-mobile-list-ctn-mini-ctn-nav-link{
    display:flex;
}
.nav-menu-mobile-list-ctn-mini-ctn{
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding:0 24px;
    place-items: end;
}
.nav-menu-mobile-list-ctn-mini-ctn-nav-link{
    margin-bottom:10vh;
    flex-direction: column;
    gap:20px;
    text-align: left;
}