.auth-login-and-register-book-btn-main-ctn{
    background: linear-gradient(to bottom, #A54dea, #594edc);
    color:#fff;
    padding: 1.3vh;
    border-radius: 1.2vh;
    text-align:center;
}
.auth-login-and-register-book-btn-main-ctn-name{
    text-transform: capitalize;
    font-size: 2vh;
}
.auth-login-and-register-book-btn-main-ctn:hover{
    cursor:pointer;
    transform:scale(0.98);
 